################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rent-a-car/obj
/Rent-a-car/bin/Debug/net5.0
/Rent-a-car/.vs/Rent-a-Car
/Rent-a-car-UnitTests/obj
/Rent-a-car-UnitTests/bin/Debug/net5.0
/Rent-a-car-UnitTests/.vs/Rent-a-Car-UnitTests
/ApiOne/obj
/ApiOne/bin/Debug/net5.0
/ApiOne/.vs/ApiOne
/ApiTwo/obj
/ApiTwo/bin/Debug/net5.0
/ApiTwo/.vs/ApiTwo
/MvcClient/obj
/MvcClient/bin/Debug/net5.0
/MvcClient/.vs/MvcClient
/.vs
