@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>This project is currently work in progress</p>
    <p>But hey, at least it works... I think</p>
</div>
