@model RegisterModelView

<form asp-controller="Register" asp-action="Register" method="post">
    Email:  <input asp-for="userName" /> <br />
    Password: <input asp-for="password" /><br />
    <button type="submit">Register</button>
</form>